@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1A1A1A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-thalia-green: #005c2e;
  --color-thalia-gray-light: #F4F4F4;
  --color-thalia-gray-border: #E5E5E5;
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
